@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@800&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green-scheme {
    --first-gradient: #3dff74c1;
    --second-gradient: #5bfe89c1;
    --third-gradient: #7fffa3c1;
    --main: #00b232;
}

.blue-scheme {
    --first-gradient: #1084ffdf;
    --second-gradient: #3b98fcdf;
    --third-gradient: #61adffdf;
    --main: #177bff;
}

.yellow-scheme {
    --first-gradient: #dcfe56c7;
    --second-gradient: #edfd8ac7;
    --third-gradient: #f6ffbdc7;
    --main: #f1cd18;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotate 2s ease-in-out infinite;
}

@keyframes zoom-out-rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}

.photo-rotate {
    animation: zoom-out-rotate 1.5s ease-in-out forwards;
}

@keyframes increase-width {
    0% {
        width: 15%;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 85%;
    }
}

@keyframes move-up {
    0% {
        transform: scale(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(3) translateY(-100px);
        opacity: 0;
    }
}

@keyframes typing {
    to {
        width: 0;
    }
}

@keyframes show-up {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#outer-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* ===================== Navbar ========================= */

#outer-container nav {
    width: 100%;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #e2e0e07e;
    z-index: 10000;
}

#outer-container nav #nav-title {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 0 0 0 10px;
    color: var(--main);
}

#outer-container nav .nav-list {
    width: 30%;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    color:#9d9d9d;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#outer-container nav .nav-list .nav-item {
    cursor: pointer;
    transition: all .5s;
}

#outer-container nav .nav-list .nav-item:hover{
    text-shadow: .5px .5px 1.3px #adadad;
    transform: scale(1.1);
}

/* =================== Shape ==================== */

#outer-container #shape {
    position: absolute;
    background-color: var(--main);
    width: 500px;
    height: 500px;
    border-radius: 54% 46% 72% 28% / 63% 69% 31% 37%;
    box-shadow: 2px 2px 10px #6f6f6fe3;
    margin: auto 0;
    top: 135px;
    left: -220px;
    border: 10px solid var(--third-gradient);
    transition: all 1s;
}

#outer-container #shape #image {
    position: absolute;
    filter: drop-shadow(2px 2px 5px #000);
}

.java-image {
    width: 200px;
    height: 200px;
    right: -70px;
    top: 90px;
}

.cpp-image {
    width: 150px;
    height: 150px;
    right: -45px;
    top: 125px;
}

.python-image {
    width: 226px;
    height: 150px;
    right: -105px;
    top: 130px;
}

/* ==========Inner Container for displaying the text and tying animation============= */
#outer-container .inner-container {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    padding: 20px;
}

#outer-container .inner-container h4 {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color:#9d9d9d;
}

#outer-container .inner-container #inner-title {
    font-size: 5rem;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 20px auto;
    color: var(--main);
    position: relative;
}

#outer-container .inner-container #inner-title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 101%;
    height: 100%;
    background-color: #fff;
    border-left: 3px solid;
    animation: typing 2s linear alternate infinite;
}

#outer-container .inner-container .buttons .inner-btn {
    /* font-size: 1rem; */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 12px;
    margin: 0 20px;
    border: 2px solid var(--main);
    background: transparent;
    transition: all .6s;
}

#outer-container .inner-container .buttons .inner-btn:hover {
    color: #fff;
    background: var(--main);
    box-shadow: 1px 1px 10px var(--main);
}


/* ==========Background Animation CSS========== */
#outer-container .animation-container {
    position: absolute;
    right: 0;
    /* background-color: red; */
    height: 100vh;
    width: 81vw;
}

#outer-container .animation-container .ball {
    width: 30px;
    height: 30px;
    background-color: var(--main);
    border-radius: 100%;
    position: absolute;
    filter: blur(0.5rem);
    animation: move-up 5s ease-in-out infinite;
    opacity: 0;
    transition: background-color 1s;
}

/* =========== Giving Each ball a position =========== */
#outer-container .animation-container .ball:nth-child(1) {
    top: 400px;
    left: 200px;
    animation-delay: 0.3s;
}

#outer-container .animation-container .ball:nth-child(2) {
    top: 200px;
    left: 400px;
    animation-delay: 0.5s;
    animation-duration: 8s;
}

#outer-container .animation-container .ball:nth-child(3) {
    top: 600px;
    left: 800px;
    animation-delay: 0.3s;
    animation-duration: 10s;
}

#outer-container .animation-container .ball:nth-child(4) {
    top: 300px;
    left: 1000px;
    animation-delay: 0.7s;
    animation-duration: 7s;
}

#outer-container .animation-container .ball:nth-child(5) {
    top: 350px;
    left: 150px;
    animation-delay: 0.8s;
    animation-duration: 9s;
}

#outer-container .animation-container .ball:nth-child(6) {
    top: 500px;
    animation-delay: 0.4s;
    animation-duration: 7s;
}

#outer-container .animation-container .ball:nth-child(7) {
    top: 450px;
    left: 1100px;
    animation-delay: 0.9s;
    animation-duration: 7s;
}

#outer-container .animation-container .ball:nth-child(8) {
    top: 250px;
    left: 800px;
    animation-delay: 0.7s;
    animation-duration: 10s;
}

#outer-container .animation-container .ball:nth-child(9) {
    top: 550px;
    left: 800px;
    animation-delay: 0.9s;
    animation-duration: 6s;
}

#outer-container .animation-container .ball:nth-child(10) {
    top: 650px;
    left: 300px;
    animation-delay: 0.6s;
    animation-duration: 9s;
}

#outer-container .animation-container .ball:nth-child(11) {
    top: 700px;
    left: 1000px;
    animation-delay: 0.5s;
    animation-duration: 10s;
}

/* =========== Slider Button =========== */
#outer-container #btn {
    position: absolute;
    top: 400px;
    right: 50px;
    background-color: var(--main);
    width: 46px;
    height: 46px;
    font-size: 1.3rem;
    border-radius: 100%;
    border: none;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    transition: background-color 1s;
}


/* ================== Trainer Container =================== */

#trainer-container {
    text-align: center;
    margin: 2em 0;
}

#trainer-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--main);
    font-size: 4.4rem;
    transition: all 1s;
}

/* =================== Trainer Card =================== */
#trainer-container .card {
    width: 15%;
    margin: 2em auto;
    position: relative;
    padding: 4em 2em;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #a5a5a5ed;
    /* display: none; */
}

#trainer-container .card::before, #trainer-container .card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
}

#trainer-container .card::before {
    top: 0;
    right: 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--main);
    transition: background-color 2s;
}

#trainer-container .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
}

#trainer-container .card img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 10px solid var(--third-gradient);
    transition: border 2s;
}

#trainer-container .card p {
    color:#6f6f6fe3;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    margin: 1.1em 0 0;
}

/* ================= Trainer Detail Box ===================== */

#trainer-container .detail-box {
    padding: 3em;
    max-width: calc(70% - 20px);
    margin: 2em auto 0;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: none;
    animation: show-up 1s linear;
}

#trainer-container .detail-box .detail-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#trainer-container .detail-box .detail-content header {
    visibility: hidden;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--main);
    animation: show-up 1.1s ease-in-out .2s;
    transition: color 1s;
}

#trainer-container .detail-box .detail-content .detail-body {
    visibility: hidden;
    text-align: left;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}

#trainer-container .detail-box .detail-content .detail-body p {
    margin: 5px 0;
    animation: show-up 1.5s ease-in-out .4s;
}

#trainer-container .detail-box .detail-image {
    max-width: calc(50% - 20px);
}

#trainer-container .detail-box .detail-image img {
    max-width: calc(55% - 10px);
    margin: 0 auto;
    border-radius: 100%;
    visibility: hidden;
    animation: show-up 1.7s ease-in-out .4s;
}

